In [1]:
import json
import pandas as pd

In [2]:
with open('./raw.json','r') as f:
    d = json.load(f)

In [3]:
d.keys()

dict_keys(['mapping', 'identifiers', 'entities', 'oldEntities', 'data'])

In [4]:
d['mapping']

['scenario',
 'country',
 'sector',
 'year',
 'indirect',
 'direct',
 'stock',
 'sales',
 'value',
 'consumption']

In [5]:
d['identifiers']

['scenario', 'country', 'sector', 'year']

In [6]:
d['entities']

['country', 'scenario', 'sector', 'subsector', 'region', 'regionSelect']

In [7]:
d['oldEntities']

{'formats': {'indirect': {'unit': 't', 'formatPrefix': 3, 'factor': 1000000.0},
  'direct': {'unit': 't', 'formatPrefix': 3, 'factor': 1000000.0},
  'total': {'unit': 't', 'format': '.3r'},
  'value': {'format': '.4r$'}},
 'labels': {'indirect': 'Indirect emissions',
  'direct': 'Direct emissions',
  'total': 'Total emissions',
  'erp': 'Emission reduction potential',
  'stock': 'Appliances in use',
  'sales': 'Unit sales',
  'value': 'Value',
  'allSectors': 'cooling sector'},
 'scenario': [{'id': 1, 'title': 'BAU', 'description': 'Business as Usual'},
  {'id': 2,
   'title': 'MIT',
   'description': 'Steht für Mitigation, d.h. dies sind die Emissionen im reduzierte Szenario'}],
 'sector': [{'id': 1, 'title': 'Unitary air conditioning'},
  {'id': 2, 'title': 'Chiller'},
  {'id': 3, 'title': 'Mobile AC'},
  {'id': 4, 'title': 'Domestic refrigeration'},
  {'id': 5, 'title': 'Commercial Refrigeration'},
  {'id': 6, 'title': 'Industrial Refrigeration'},
  {'id': 7, 'title': 'Transport Refrigeration'}],
 'subsector': [{'id': 1,
   'title': 'Self-contained air conditioners',
   'sector': 1},
  {'id': 2, 'title': 'Split residential air conditioners', 'sector': 1},
  {'id': 3, 'title': 'Split commercial air conditioners', 'sector': 1},
  {'id': 4, 'title': 'Duct split residential air conditioners', 'sector': 1},
  {'id': 5, 'title': 'Commercial ducted splits', 'sector': 1},
  {'id': 6, 'title': 'Rooftop ducted', 'sector': 1},
  {'id': 7, 'title': 'Multi-splits', 'sector': 1},
  {'id': 8, 'title': 'Air conditioning chillers', 'sector': 2},
  {'id': 9, 'title': 'Process chillers', 'sector': 2},
  {'id': 10, 'title': 'Car air conditioning', 'sector': 3},
  {'id': 11, 'title': 'Large vehicle air conditioning', 'sector': 3},
  {'id': 12, 'title': 'Domestic refrigeration', 'sector': 4},
  {'id': 13, 'title': 'Stand-alone equipment', 'sector': 5},
  {'id': 14, 'title': 'Condensing units', 'sector': 5},
  {'id': 15, 'title': 'Centralised systems for supermarkets', 'sector': 5},
  {'id': 16, 'title': 'Integral', 'sector': 6},
  {'id': 17, 'title': 'ICondensing units', 'sector': 6},
  {'id': 18, 'title': 'Centralised systems', 'sector': 6},
  {'id': 19, 'title': 'Refrigerated trucks/trailers', 'sector': 7}],
 'regionSelect': [{'id': 0, 'name': 'By country'},
  {'id': 1, 'name': 'By region'}],
 'region': [{'id': 0, 'name': 'Region'},
  {'id': 1, 'name': 'Global'},
  {'id': 2, 'name': 'Asia'},
  {'id': 3, 'name': 'Africa'},
  {'id': 4, 'name': 'South America'},
  {'id': 5, 'name': 'North America'},
  {'id': 6, 'name': 'Europe'},
  {'id': 7, 'name': 'Oceania'}],
 'country': [{'id': 1,
   'iso': 4,
   'name': 'Afghanistan',
   'temp': 40,
   'region': 2},
  {'id': 2, 'iso': 8, 'name': 'Albania', 'temp': 32, 'region': 6},
  {'id': 3, 'iso': 12, 'name': 'Algeria', 'temp': 40, 'region': 3},
  {'id': 4, 'iso': 16, 'name': 'American Samoa', 'region': 7},
  {'id': 5, 'iso': 20, 'name': 'Andorra', 'region': None},
  {'id': 6, 'iso': 24, 'name': 'Angola', 'temp': 32, 'region': 3},
  {'id': 7, 'iso': 28, 'name': 'Antigua and Barbuda', 'region': 5},
  {'id': 8, 'iso': 32, 'name': 'Argentina', 'temp': 32, 'region': 4},
  {'id': 9, 'iso': 51, 'name': 'Armenia', 'temp': 32, 'region': 2},
  {'id': 10, 'iso': 533, 'name': 'Aruba', 'temp': 40, 'region': 5},
  {'id': 11, 'iso': 36, 'name': 'Australia', 'region': 7},
  {'id': 12, 'iso': 40, 'name': 'Austria', 'region': 6},
  {'id': 13, 'iso': 31, 'name': 'Azerbaijan', 'temp': 32, 'region': 2},
  {'id': 14, 'iso': 44, 'name': 'The Bahamas', 'temp': 32, 'region': 5},
  {'id': 15, 'iso': 48, 'name': 'Bahrain', 'temp': 40, 'region': 2},
  {'id': 16, 'iso': 50, 'name': 'Bangladesh', 'temp': 40, 'region': 2},
  {'id': 17, 'iso': 52, 'name': 'Barbados', 'temp': 32, 'region': 5},
  {'id': 18, 'iso': 112, 'name': 'Belarus', 'region': 6},
  {'id': 19, 'iso': 56, 'name': 'Belgium', 'region': 6},
  {'id': 20, 'iso': 84, 'name': 'Belize', 'temp': 40, 'region': 5},
  {'id': 21, 'iso': 204, 'name': 'Benin', 'temp': 40, 'region': 3},
  {'id': 22, 'iso': 60, 'name': 'Bermuda', 'temp': 32, 'region': 5},
  {'id': 23, 'iso': 64, 'name': 'Bhutan', 'region': None},
  {'id': 24, 'iso': 68, 'name': 'Bolivia', 'temp': 32, 'region': 4},
  {'id': 25,
   'iso': 70,
   'name': 'Bosnia and Herzegovina',
   'temp': 32,
   'region': 6},
  {'id': 26, 'iso': 72, 'name': 'Botswana', 'temp': 32, 'region': 3},
  {'id': 27, 'iso': 76, 'name': 'Brazil', 'temp': 40, 'region': 4},
  {'id': 28, 'iso': 96, 'name': 'Brunei', 'temp': 40, 'region': 2},
  {'id': 29, 'iso': 100, 'name': 'Bulgaria', 'region': 6},
  {'id': 30, 'iso': 854, 'name': 'Burkina Faso', 'temp': 40, 'region': 3},
  {'id': 31, 'iso': 108, 'name': 'Burundi', 'temp': 32, 'region': 3},
  {'id': 32, 'iso': 116, 'name': 'Cambodia', 'temp': 40, 'region': 2},
  {'id': 33, 'iso': 120, 'name': 'Cameroon', 'temp': 40, 'region': 3},
  {'id': 34, 'iso': 124, 'name': 'Canada', 'region': 5},
  {'id': 35, 'iso': 132, 'name': 'Cape Verde', 'temp': 32, 'region': 3},
  {'id': 36, 'iso': 136, 'name': 'Cayman Islands', 'temp': 40, 'region': 5},
  {'id': 37,
   'iso': 140,
   'name': 'Central African Republic',
   'temp': 40,
   'region': 3},
  {'id': 38, 'iso': 148, 'name': 'Chad', 'temp': 40, 'region': 3},
  {'id': 39, 'iso': 832, 'name': 'Channel Islands', 'region': None},
  {'id': 40, 'iso': 152, 'name': 'Chile', 'temp': 32, 'region': 4},
  {'id': 41, 'iso': 156, 'name': 'China', 'temp': 32, 'region': 2},
  {'id': 42, 'iso': 170, 'name': 'Colombia', 'temp': 40, 'region': 4},
  {'id': 43, 'iso': 174, 'name': 'Comoros', 'temp': 40, 'region': 3},
  {'id': 44,
   'iso': 180,
   'name': 'Democratic Republic of the Congo',
   'temp': 40,
   'region': 3},
  {'id': 45,
   'iso': 178,
   'name': 'Republic of the Congo',
   'temp': 40,
   'region': 3},
  {'id': 46, 'iso': 188, 'name': 'Costa Rica', 'temp': 40, 'region': 5},
  {'id': 47, 'iso': 384, 'name': "Cote d'Ivoire", 'temp': 40, 'region': 3},
  {'id': 48, 'iso': 191, 'name': 'Croatia', 'temp': 32, 'region': 6},
  {'id': 49, 'iso': 192, 'name': 'Cuba', 'temp': 40, 'region': 5},
  {'id': 50, 'iso': 531, 'name': 'Curacao', 'temp': 40, 'region': 5},
  {'id': 51, 'iso': 196, 'name': 'Cyprus', 'region': 6},
  {'id': 52, 'iso': 203, 'name': 'Czech Republic', 'region': 6},
  {'id': 53, 'iso': 208, 'name': 'Denmark', 'region': 6},
  {'id': 54, 'iso': 262, 'name': 'Djibouti', 'temp': 40, 'region': 3},
  {'id': 55, 'iso': 212, 'name': 'Dominica', 'temp': 32, 'region': 5},
  {'id': 56,
   'iso': 214,
   'name': 'Dominican Republic',
   'temp': 32,
   'region': 5},
  {'id': 57, 'iso': 218, 'name': 'Ecuador', 'temp': 40, 'region': 4},
  {'id': 58, 'iso': 818, 'name': 'Egypt', 'temp': 40, 'region': 3},
  {'id': 59, 'iso': 222, 'name': 'El Salvador', 'temp': 40, 'region': 5},
  {'id': 60, 'iso': 226, 'name': 'Equatorial Guinea', 'temp': 40, 'region': 3},
  {'id': 61, 'iso': 232, 'name': 'Eritrea', 'temp': 40, 'region': 3},
  {'id': 62, 'iso': 233, 'name': 'Estonia', 'region': 6},
  {'id': 63, 'iso': 231, 'name': 'Ethiopia', 'temp': 40, 'region': 3},
  {'id': 64, 'iso': 234, 'name': 'Faeroe Islands', 'region': 6},
  {'id': 65, 'iso': 242, 'name': 'Fiji', 'temp': 32, 'region': 7},
  {'id': 66, 'iso': 246, 'name': 'Finland', 'region': 6},
  {'id': 67, 'iso': 250, 'name': 'France', 'region': 6},
  {'id': 68, 'iso': 258, 'name': 'French Polynesia', 'temp': 32, 'region': 7},
  {'id': 69, 'iso': 266, 'name': 'Gabon', 'temp': 40, 'region': 3},
  {'id': 70, 'iso': 270, 'name': 'The Gambia', 'temp': 40, 'region': 3},
  {'id': 71, 'iso': 268, 'name': 'Georgia', 'temp': 32, 'region': 2},
  {'id': 72, 'iso': 276, 'name': 'Germany', 'region': 6},
  {'id': 73, 'iso': 288, 'name': 'Ghana', 'temp': 40, 'region': 3},
  {'id': 74, 'iso': 300, 'name': 'Greece', 'region': 6},
  {'id': 75, 'iso': 304, 'name': 'Greenland', 'region': None},
  {'id': 76, 'iso': 308, 'name': 'Grenada', 'temp': 32, 'region': 5},
  {'id': 77, 'iso': 312, 'name': 'Guadeloupe', 'temp': 32, 'region': None},
  {'id': 78, 'iso': 316, 'name': 'Guam', 'region': 5},
  {'id': 79, 'iso': 320, 'name': 'Guatemala', 'temp': 40, 'region': 5},
  {'id': 80, 'iso': 324, 'name': 'Guinea', 'temp': 40, 'region': 3},
  {'id': 81, 'iso': 624, 'name': 'Guinea-Bissau', 'temp': 40, 'region': 3},
  {'id': 82, 'iso': 328, 'name': 'Guyana', 'temp': 40, 'region': 4},
  {'id': 83, 'iso': 332, 'name': 'Haiti', 'temp': 32, 'region': 5},
  {'id': 84, 'iso': 340, 'name': 'Honduras', 'temp': 40, 'region': 5},
  {'id': 85, 'iso': 344, 'name': 'Hong Kong SAR, China', 'region': None},
  {'id': 86, 'iso': 348, 'name': 'Hungary', 'region': 6},
  {'id': 87, 'iso': 352, 'name': 'Iceland', 'region': 6},
  {'id': 88, 'iso': 356, 'name': 'India', 'temp': 40, 'region': 2},
  {'id': 89, 'iso': 360, 'name': 'Indonesia', 'temp': 40, 'region': 2},
  {'id': 90, 'iso': 364, 'name': 'Iran', 'temp': 32, 'region': 2},
  {'id': 91, 'iso': 368, 'name': 'Iraq', 'region': None},
  {'id': 92, 'iso': 372, 'name': 'Ireland', 'region': 6},
  {'id': 93, 'iso': 833, 'name': 'Isle of Man', 'region': 6},
  {'id': 94, 'iso': 376, 'name': 'Israel', 'region': 2},
  {'id': 95, 'iso': 380, 'name': 'Italy', 'region': 6},
  {'id': 96, 'iso': 388, 'name': 'Jamaica', 'temp': 40, 'region': 5},
  {'id': 97, 'iso': 392, 'name': 'Japan', 'region': 2},
  {'id': 98, 'iso': 400, 'name': 'Jordan', 'temp': 32, 'region': 2},
  {'id': 99, 'iso': 398, 'name': 'Kazakhstan', 'temp': 32, 'region': 2},
  {'id': 100, 'iso': 404, 'name': 'Kenya', 'temp': 40, 'region': 3},
  {'id': 101, 'iso': 296, 'name': 'Kiribati', 'region': 7},
  {'id': 102, 'iso': 408, 'name': 'North Korea', 'region': 2},
  {'id': 103, 'iso': 410, 'name': 'South Korea', 'region': 2},
  {'id': 104, 'name': 'Kosovo', 'region': None},
  {'id': 105, 'iso': 414, 'name': 'Kuwait', 'temp': 40, 'region': 2},
  {'id': 106, 'iso': 417, 'name': 'Kyrgyz Republic', 'temp': 32, 'region': 2},
  {'id': 107, 'iso': 418, 'name': 'Laos', 'temp': 40, 'region': 2},
  {'id': 108, 'iso': 428, 'name': 'Latvia', 'region': 6},
  {'id': 109, 'iso': 422, 'name': 'Lebanon', 'temp': 32, 'region': 2},
  {'id': 110, 'iso': 426, 'name': 'Lesotho', 'temp': 32, 'region': 3},
  {'id': 111, 'iso': 430, 'name': 'Liberia', 'temp': 40, 'region': 3},
  {'id': 112, 'iso': 434, 'name': 'Libya', 'temp': 40, 'region': 3},
  {'id': 113, 'iso': 438, 'name': 'Liechtenstein', 'region': 6},
  {'id': 114, 'iso': 440, 'name': 'Lithuania', 'region': 6},
  {'id': 115, 'iso': 442, 'name': 'Luxembourg', 'region': 6},
  {'id': 116, 'iso': 446, 'name': 'Macao SAR', 'region': None},
  {'id': 117, 'iso': 807, 'name': 'Macedonia', 'temp': 32, 'region': 6},
  {'id': 118, 'iso': 450, 'name': 'Madagascar', 'temp': 40, 'region': 3},
  {'id': 119, 'iso': 454, 'name': 'Malawi', 'temp': 32, 'region': 3},
  {'id': 120, 'iso': 458, 'name': 'Malaysia', 'temp': 40, 'region': 2},
  {'id': 121, 'iso': 462, 'name': 'Maldives', 'temp': 40, 'region': 2},
  {'id': 122, 'iso': 466, 'name': 'Mali', 'temp': 40, 'region': 3},
  {'id': 123, 'iso': 470, 'name': 'Malta', 'region': 6},
  {'id': 124, 'iso': 474, 'name': 'Martinique', 'temp': 32, 'region': None},
  {'id': 125, 'iso': 584, 'name': 'Marshall Islands', 'region': 7},
  {'id': 126, 'iso': 478, 'name': 'Mauritania', 'temp': 32, 'region': 3},
  {'id': 127, 'iso': 480, 'name': 'Mauritius', 'temp': 40, 'region': 3},
  {'id': 128, 'iso': 175, 'name': 'Mayotte', 'temp': 40, 'region': None},
  {'id': 129, 'iso': 484, 'name': 'Mexico', 'region': 5},
  {'id': 130, 'iso': 583, 'name': 'Micronesia', 'region': 7},
  {'id': 131, 'iso': 498, 'name': 'Moldova', 'region': 6},
  {'id': 132, 'iso': 492, 'name': 'Monaco', 'region': None},
  {'id': 133, 'iso': 496, 'name': 'Mongolia', 'temp': 32, 'region': 2},
  {'id': 134, 'iso': 499, 'name': 'Montenegro', 'region': None},
  {'id': 135, 'iso': 504, 'name': 'Morocco', 'temp': 40, 'region': 3},
  {'id': 136, 'iso': 508, 'name': 'Mozambique', 'temp': 32, 'region': 3},
  {'id': 137, 'iso': 104, 'name': 'Myanmar', 'temp': 40, 'region': 2},
  {'id': 138, 'iso': 516, 'name': 'Namibia', 'temp': 40, 'region': 3},
  {'id': 139, 'iso': 520, 'name': 'Nauru', 'temp': 40, 'region': None},
  {'id': 140, 'iso': 524, 'name': 'Nepal', 'temp': 32, 'region': 2},
  {'id': 141, 'iso': 528, 'name': 'Netherlands', 'region': 6},
  {'id': 142, 'iso': 540, 'name': 'New Caledonia', 'temp': 32, 'region': 7},
  {'id': 143, 'iso': 554, 'name': 'New Zealand', 'region': 7},
  {'id': 144, 'iso': 558, 'name': 'Nicaragua', 'temp': 40, 'region': 5},
  {'id': 145, 'iso': 562, 'name': 'Niger', 'temp': 40, 'region': 3},
  {'id': 146, 'iso': 566, 'name': 'Nigeria', 'temp': 40, 'region': 3},
  {'id': 147, 'iso': 580, 'name': 'Northern Mariana Islands', 'region': 7},
  {'id': 148, 'iso': 578, 'name': 'Norway', 'region': 6},
  {'id': 149, 'iso': 512, 'name': 'Oman', 'temp': 32, 'region': 2},
  {'id': 150, 'iso': 586, 'name': 'Pakistan', 'temp': 40, 'region': 2},
  {'id': 151, 'iso': 585, 'name': 'Palau', 'region': 7},
  {'id': 152, 'iso': 591, 'name': 'Panama', 'temp': 40, 'region': 5},
  {'id': 153, 'iso': 598, 'name': 'Papua New Guinea', 'temp': 40, 'region': 7},
  {'id': 154, 'iso': 600, 'name': 'Paraguay', 'temp': 40, 'region': 4},
  {'id': 155, 'iso': 604, 'name': 'Peru', 'temp': 32, 'region': 4},
  {'id': 156, 'iso': 608, 'name': 'Philippines', 'temp': 40, 'region': 2},
  {'id': 157, 'iso': 616, 'name': 'Poland', 'region': 6},
  {'id': 158, 'iso': 620, 'name': 'Portugal', 'region': 6},
  {'id': 159, 'iso': 630, 'name': 'Puerto Rico', 'region': 5},
  {'id': 160, 'iso': 634, 'name': 'Qatar', 'temp': 40, 'region': 2},
  {'id': 161, 'iso': 638, 'name': 'Reunion', 'temp': 40, 'region': None},
  {'id': 162, 'iso': 642, 'name': 'Romania', 'region': 6},
  {'id': 163, 'iso': 643, 'name': 'Russia', 'region': 2},
  {'id': 164, 'iso': 646, 'name': 'Rwanda', 'temp': 32, 'region': 3},
  {'id': 165, 'iso': 654, 'name': 'Saint Helena', 'temp': 32, 'region': None},
  {'id': 166, 'iso': 882, 'name': 'Samoa', 'temp': 32, 'region': 7},
  {'id': 167, 'iso': 674, 'name': 'San Marino', 'region': None},
  {'id': 168,
   'iso': 678,
   'name': 'Sao Tome and Principe',
   'temp': 40,
   'region': 3},
  {'id': 169, 'iso': 682, 'name': 'Saudi Arabia', 'temp': 40, 'region': 2},
  {'id': 170, 'iso': 686, 'name': 'Senegal', 'temp': 40, 'region': 3},
  {'id': 171, 'iso': 688, 'name': 'Serbia', 'region': 6},
  {'id': 172, 'iso': 690, 'name': 'Seychelles', 'temp': 32, 'region': 3},
  {'id': 173, 'iso': 694, 'name': 'Sierra Leone', 'temp': 40, 'region': 3},
  {'id': 174, 'iso': 702, 'name': 'Singapore', 'region': 2},
  {'id': 175, 'iso': 534, 'name': 'Sint Maarten', 'region': None},
  {'id': 176, 'iso': 703, 'name': 'Slovakia', 'region': 6},
  {'id': 177, 'iso': 705, 'name': 'Slovenia', 'region': 6},
  {'id': 178, 'iso': 90, 'name': 'Solomon Islands', 'temp': 40, 'region': 7},
  {'id': 179, 'iso': 706, 'name': 'Somalia', 'temp': 40, 'region': 3},
  {'id': 180, 'iso': 710, 'name': 'South Africa', 'temp': 32, 'region': 3},
  {'id': 181, 'iso': 728, 'name': 'South Sudan', 'region': None},
  {'id': 182, 'iso': 724, 'name': 'Spain', 'region': 6},
  {'id': 183, 'iso': 144, 'name': 'Sri Lanka', 'temp': 40, 'region': 2},
  {'id': 184,
   'iso': 659,
   'name': 'St. Kitts and Nevis',
   'temp': 32,
   'region': None},
  {'id': 185, 'iso': 662, 'name': 'St. Lucia', 'temp': 32, 'region': None},
  {'id': 186, 'iso': 663, 'name': 'St. Martin', 'region': None},
  {'id': 187,
   'iso': 670,
   'name': 'St. Vincent and the Grenadines',
   'temp': 32,
   'region': None},
  {'id': 188, 'iso': 729, 'name': 'Sudan', 'temp': 40, 'region': 3},
  {'id': 189, 'iso': 740, 'name': 'Suriname', 'temp': 32, 'region': 4},
  {'id': 190, 'iso': 748, 'name': 'Swaziland', 'temp': 32, 'region': 3},
  {'id': 191, 'iso': 752, 'name': 'Sweden', 'region': 6},
  {'id': 192, 'iso': 756, 'name': 'Switzerland', 'region': 6},
  {'id': 193, 'iso': 760, 'name': 'Syria', 'temp': 32, 'region': 2},
  {'id': 194, 'iso': 762, 'name': 'Tajikistan', 'temp': 40, 'region': 2},
  {'id': 195, 'iso': 834, 'name': 'Tanzania', 'temp': 32, 'region': 3},
  {'id': 196, 'iso': 764, 'name': 'Thailand', 'temp': 40, 'region': 2},
  {'id': 197, 'iso': 626, 'name': 'Timor-Leste', 'region': None},
  {'id': 198, 'iso': 768, 'name': 'Togo', 'temp': 40, 'region': 3},
  {'id': 199, 'iso': 776, 'name': 'Tonga', 'temp': 32, 'region': 7},
  {'id': 200,
   'iso': 780,
   'name': 'Trinidad and Tobago',
   'temp': 32,
   'region': 4},
  {'id': 201, 'iso': 788, 'name': 'Tunisia', 'temp': 40, 'region': 3},
  {'id': 202, 'iso': 792, 'name': 'Turkey', 'temp': 32, 'region': 2},
  {'id': 203, 'iso': 795, 'name': 'Turkmenistan', 'temp': 40, 'region': 2},
  {'id': 204, 'iso': 796, 'name': 'Turks and Caicos Islands', 'region': None},
  {'id': 205, 'iso': 798, 'name': 'Tuvalu', 'region': 7},
  {'id': 206, 'iso': 800, 'name': 'Uganda', 'temp': 32, 'region': 3},
  {'id': 207, 'iso': 804, 'name': 'Ukraine', 'region': 6},
  {'id': 208,
   'iso': 784,
   'name': 'United Arab Emirates',
   'temp': 40,
   'region': 2},
  {'id': 209, 'iso': 826, 'name': 'United Kingdom', 'region': 6},
  {'id': 210, 'iso': 840, 'name': 'United States', 'region': 5},
  {'id': 211, 'iso': 858, 'name': 'Uruguay', 'temp': 32, 'region': 4},
  {'id': 212, 'iso': 860, 'name': 'Uzbekistan', 'temp': 32, 'region': 2},
  {'id': 213, 'iso': 548, 'name': 'Vanuatu', 'temp': 32, 'region': 7},
  {'id': 214, 'iso': 862, 'name': 'Venezuela', 'temp': 32, 'region': 4},
  {'id': 215, 'iso': 704, 'name': 'Vietnam', 'temp': 40, 'region': 2},
  {'id': 216, 'iso': 850, 'name': 'Virgin Islands', 'region': None},
  {'id': 217, 'iso': 275, 'name': 'West Bank and Gaza', 'region': None},
  {'id': 218, 'iso': 887, 'name': 'Yemen', 'temp': 40, 'region': 2},
  {'id': 219, 'iso': 894, 'name': 'Zambia', 'temp': 32, 'region': 3},
  {'id': 220, 'iso': 716, 'name': 'Zimbabwe', 'temp': 32, 'region': 3},
  {'id': 221, 'iso': 660, 'name': 'Anguilla', 'region': None},
  {'id': 222, 'iso': 92, 'name': 'British Virgin Islands', 'region': None},
  {'id': 223, 'iso': 535, 'name': 'Caribbean Netherlands', 'region': None},
  {'id': 224, 'iso': 184, 'name': 'Cook Islands', 'region': None},
  {'id': 225, 'iso': 238, 'name': 'Falkland Islands', 'region': None},
  {'id': 226, 'iso': 254, 'name': 'French Guiana', 'region': None},
  {'id': 227, 'iso': 292, 'name': 'Gibraltar', 'region': None},
  {'id': 228, 'iso': 336, 'name': 'Holy See', 'region': None},
  {'id': 229, 'iso': 500, 'name': 'Montserrat', 'region': None},
  {'id': 230, 'iso': 570, 'name': 'Niue', 'region': None},
  {'id': 231, 'name': 'Other non-specified areas', 'region': None},
  {'id': 232, 'iso': 666, 'name': 'Saint Pierre and Miquelon', 'region': None},
  {'id': 233, 'iso': 275, 'name': 'State of Palestine', 'region': None},
  {'id': 234, 'iso': 772, 'name': 'Tokelau', 'region': None},
  {'id': 235, 'iso': 876, 'name': 'Wallis and Futuna Islands', 'region': None},
  {'id': 236, 'iso': 732, 'name': 'Western Sahara', 'region': None}]}

In [8]:
d['oldEntities'].keys()

dict_keys(['formats', 'labels', 'scenario', 'sector', 'subsector', 'regionSelect', 'region', 'country'])

In [9]:
scenario_df = pd.DataFrame(d['oldEntities']['scenario']).set_index('id')
scenario_df

   title                                        description
id
1    BAU                                  Business as Usual
2    MIT  Steht für Mitigation, d.h. dies sind die Emiss...

In [10]:
sector_df = pd.DataFrame(d['oldEntities']['sector']).set_index('id')
sector_df

                       title
id
1   Unitary air conditioning
2                    Chiller
3                  Mobile AC
4     Domestic refrigeration
5   Commercial Refrigeration
6   Industrial Refrigeration
7    Transport Refrigeration

In [11]:
countries = pd.DataFrame(d['oldEntities']['country']).set_index('id')
countries.head()

     iso            name  temp  region
id
1    4.0     Afghanistan  40.0     2.0
2    8.0         Albania  32.0     6.0
3   12.0         Algeria  40.0     3.0
4   16.0  American Samoa   NaN     7.0
5   20.0         Andorra   NaN     NaN

In [12]:
data = pd.DataFrame(d['data'], columns=d['mapping'])

In [13]:
data['year'] = data['year'] + 2000
data

,scenario,country,sector,year,indirect,direct,stock,sales,value,consumption
0,1,1,1,2000,0.060100,0.247000,154000.00,17400.000,28300000.0,415.0000
1,1,1,1,2002,0.066800,0.275000,172000.00,20800.000,33500000.0,461.0000
2,1,1,1,2004,0.074400,0.308000,193000.00,23500.000,37300000.0,513.0000
3,1,1,1,2006,0.081600,0.340000,215000.00,25100.000,38900000.0,563.0000
4,1,1,1,2008,0.088400,0.372000,238000.00,27100.000,41000000.0,610.0000
...,...,...,...,...,...,...,...,...,...,...
73939,2,235,7,2042,0.000011,0.000002,2.29,0.152,364.0,0.0133
73940,2,235,7,2044,0.000010,0.000002,2.28,0.151,363.0,0.0131
73941,2,235,7,2046,0.000010,0.000002,2.28,0.151,362.0,0.0129
73942,2,235,7,2048,0.000010,0.000001,2.28,0.150,361.0,0.0128
73943,2,235,7,2050,0.000010,0.000001,2.28,0.151,361.0,0.0126

In [14]:
data.to_csv('data.csv')

# Explore the observed vs projected cutoff

In [15]:
value_cols = ['indirect','direct','stock','sales','value','consumption']
grouped = data.groupby(['country','year','sector'])[value_cols]

In [16]:
grouped.size().value_counts()

2    36972
dtype: int64

In [17]:
# this is for each value, the difference between scenario 1 and scenario 2
diffs = (grouped.max() - grouped.min())

In [18]:
diffs.reset_index().groupby('year')[value_cols].mean()

      indirect    direct  stock  sales  value  consumption
year
2000  0.000000  0.000000    0.0    0.0    0.0     0.000000
2002  0.000000  0.000118    0.0    0.0    0.0     0.000000
2004  0.000000  0.000247    0.0    0.0    0.0     0.000000
2006  0.000000  0.000498    0.0    0.0    0.0     0.000000
2008  0.000000  0.000784    0.0    0.0    0.0     0.000000
2010  0.000000  0.001842    0.0    0.0    0.0     0.000000
2012  0.000000  0.001180    0.0    0.0    0.0     0.000000
2014  0.000000  0.001302    0.0    0.0    0.0     0.000000
2016  0.000000  0.000000    0.0    0.0    0.0     0.000000
2018  0.017146  0.030056    0.0    0.0    0.0    21.909177
2020  0.058380  0.097494    0.0    0.0    0.0    75.631574
2022  0.111857  0.163759    0.0    0.0    0.0   144.217023
2024  0.180541  0.223511    0.0    0.0    0.0   228.606362
2026  0.262483  0.276576    0.0    0.0    0.0   332.967611
2028  0.361843  0.327968    0.0    0.0    0.0   453.738248
2030  0.475076  0.370790    0.0    0.0    0.0   590.031555
2032  0.592111  0.458761    0.0    0.0    0.0   734.955455
2034  0.699397  0.633473    0.0    0.0    0.0   856.634065
2036  0.778369  0.737641    0.0    0.0    0.0   951.676408
2038  0.834165  0.753500    0.0    0.0    0.0  1021.215865
2040  0.882293  0.758262    0.0    0.0    0.0  1084.757047
2042  0.927121  0.745128    0.0    0.0    0.0  1151.912135
2044  0.970788  0.732003    0.0    0.0    0.0  1210.204509
2046  1.021712  0.736132    0.0    0.0    0.0  1275.386819
2048  1.063281  0.757909    0.0    0.0    0.0  1327.286339
2050  1.098528  0.776940    0.0    0.0    0.0  1384.905675

Okay, we see some slight differences in direct emissions before 2018, but for the most part they are very similar. We'll use scenario 1.

# Create the aggregated past data

In [19]:
cleaned = data[(data.scenario == 1) & (data.year < 2018)].groupby(['country','year'])[value_cols].sum()
cleaned = cleaned.reset_index()
cleaned['country_name'] = cleaned['country'].map(countries.name)

Given my understanding of the columns, summing them across sectors is appropriate. But without further documentation we don't know for sure.

In [20]:
cleaned

,country,year,indirect,direct,stock,sales,value,consumption,country_name
0,1,2000,0.274180,0.888390,589415.000,53338.0000,53504000.0,1454.3900,Afghanistan
1,1,2002,0.305640,0.983370,658272.000,78230.4000,67818000.0,1609.3200,Afghanistan
2,1,2004,0.342710,1.094010,769247.000,104317.8000,79843000.0,1798.1500,Afghanistan
3,1,2006,0.379710,1.200120,919177.000,131928.2000,88635000.0,1991.5200,Afghanistan
4,1,2008,0.416710,1.302770,1114024.000,164951.5000,99574000.0,2178.1000,Afghanistan
...,...,...,...,...,...,...,...,...,...
1867,235,2008,0.000084,0.000619,277.256,18.4284,23859.0,2.0637,Wallis and Futuna Islands
1868,235,2010,0.000083,0.000621,279.256,18.7107,24295.0,2.0585,Wallis and Futuna Islands
1869,235,2012,0.000109,0.000645,286.888,22.8296,29591.0,2.1061,Wallis and Futuna Islands
1870,235,2014,0.000137,0.000674,296.532,24.0946,31395.0,2.1691,Wallis and Futuna Islands
1871,235,2016,0.000168,0.000716,308.407,25.4805,33208.0,2.2443,Wallis and Futuna Islands

In [21]:
cleaned.to_csv('cleaned.csv')